node_modules/
build/
dist/
coverage/
.DS_Store

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
app-debug.log

.env*
!.env.example
db.json
config.json
watchlists/
recommendations/
bun.lock
jellyfin_cache.json
jf_override.json
activity_logs.json
users_expirations.json
library_index.json
genre_backdrops_cache.json
data/
*.patch
*.diff
patch*.js
query*.cjs
test*.js
test*.cjs
*.db
*.py
*.tmp

watched/
